* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    padding: 1rem;
}

.row h1 {
    text-align: center;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.block {
    padding-top: 100%;
    background-color: darksalmon;
    border: 1px black dotted;
}